<a href="https://colab.research.google.com/github/AldataSci/CapstoneData/blob/main/Cluster_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is gonna be the final part of my project in which I will attempt clustering, I am gonna split the datasets into 2022 post pandemic and 2019 pre pandemic. I am going to attempt to do some regex-cleaning so I can merge the 2022 ridership and 2019 ridership with the original df.

Edit: It took a while and a lot of cleaning and searching but FUZZYWUZZY package helped me matched the station names

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
## This is the dataframe that contains the complaints...
df = pd.read_csv('https://raw.githubusercontent.com/AldataSci/CapstoneData/refs/heads/main/cleaned_stations_df.csv')

# Let's remove station_name all NULL..

clean_df_2022 = df[df['year'] == 2022]

# Create A pre-pandemic chart
clean_df_2019 = df[df['year'] == 2019]

In [ ]:
clean_df_2019.shape

(12001, 26)

In [ ]:
clean_df_2022.shape

(11242, 26)

In [ ]:
## Hmm what do I do the value_counts right.. by station?

grouped_2019 = clean_df_2019.groupby('station_name').size().reset_index(name = 'complaint_count')
grouped_2022 = clean_df_2022.groupby('station_name').size().reset_index(name = 'complaint_count')

In [ ]:
# Merge the df

merged_df = pd.merge(clean_df_2022, grouped_2022, on = 'station_name', how = 'left')
merged_df_2019 = pd.merge(clean_df_2019, grouped_2019, on = 'station_name', how = 'left')
## I will assume everything is correct..

In [ ]:
ridership_station_df = pd.read_csv('https://raw.githubusercontent.com/AldataSci/CapstoneData/refs/heads/main/2023%20Subway%20Tables.csv',header = 1)

ridership_station_df.head(5)

,Station (alphabetical by borough),*,Boro,2018,2019,2020,2021,2022,2023,2022-2023 Change,Unnamed: 10,2023 Rank
0,The Bronx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"138 St-Grand Concourse (4,5)",1.0,Bx,944598.0,1035878.0,371408.014,656866.0,766610.0,#NAME?,18661,2.4342233991208%,#NAME?
2,"149 St-Grand Concourse (2,4,5)",NaN,Bx,3972763.0,3931908.0,1815784.971,1832521.0,2026363.0,#NAME?,61416,3.03084886567708%,#NAME?
3,"161 St-Yankee Stadium (B,D,4)",NaN,Bx,8392290.0,8254928.0,3221650.993,4077604.0,5023193.0,#NAME?,#NAME?,#NAME?,#NAME?
4,167 St (4),NaN,Bx,2933140.0,2653237.0,1396286.968,1615072.0,1847368.0,#NAME?,#NAME?,#NAME?,#NAME?

Data-Cleaning For Ridership

In [ ]:
## Let's remove the empty columns for now I will just get the 2023 dataset?

# Produce a copy of the dataframe/

riders_station_copy = ridership_station_df.copy()

df_2022 = riders_station_copy[['Station (alphabetical by borough)','2022']]

df_2019 = riders_station_copy[['Station (alphabetical by borough)','2019']]

In [ ]:
# For now let's remove the NA observation..

df_2019.dropna(inplace = True)
df_2022.dropna(inplace = True)

<ipython-input-10-9c4f857db677>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019.dropna(inplace = True)
<ipython-input-10-9c4f857db677>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022.dropna(inplace = True)

In [ ]:
# The last observation is systems_totals should I get rid of it?

# Meh I also get rid of the borough counts as well hopefully it is just station names and their ridership
df_station_2022 = df_2022.iloc[:-5]
df_station_2019 = df_2019.iloc[:-5]

In [ ]:
# Let's take a look at the unique station_name

df_station_2022['Station (alphabetical by borough)'].unique()

array(['138 St-Grand Concourse (4,5)', '149 St-Grand Concourse (2,4,5)',
       '161 St-Yankee Stadium (B,D,4)', '167 St (4)', '167 St (B,D)',
       '170 St (4)', '170 St (B,D)', '174 St (2,5)', '174-175 Sts (B,D)',
       '176 St (4)', '182-183 Sts (B,D)', '183 St (4)', '219 St (2,5)',
       '225 St (2,5)', '231 St (1)', '233 St (2,5)', '238 St (1)',
       '3 Av-138 St (6)', '3 Av-149 St (2,5)', 'Allerton Av (2,5)',
       'Baychester Av (5)', 'Bedford Park Blvd (B,D)',
       'Bedford Park Blvd-Lehman College (4)', 'Bronx Park East (2,5)',
       'Brook Av (6)', 'Buhre Av (6)', 'Burke Av (2,5)',
       'Burnside Av (4)', 'Castle Hill Av (6)', 'Cypress Av (6)',
       "East 143 St-St Mary's St (6)", 'East 149 St (6)',
       'East 180 St (2,5)', 'Eastchester-Dyre Av (5)', 'Elder Av (6)',
       'Fordham Rd (4)', 'Fordham Rd (B,D)', 'Freeman St (2,5)',
       'Gun Hill Rd (2,5)', 'Gun Hill Rd (5)', 'Hunts Point Av (6)',
       'Intervale Av (2,5)', 'Jackson Av (2,5)', 'Kingsbridge Rd (4)',
       'Kingsbridge Rd (B,D)', 'Longwood Av (6)', 'Middletown Rd (6)',
       'Morris Park (5)', 'Morrison Av-Soundview (6)', 'Mosholu Pkwy (4)',
       'Mt Eden Av (4)', 'Nereid Av (2,5)', 'Norwood-205 St (D)',
       'Parkchester (6)', 'Pelham Bay Park (6)', 'Pelham Pkwy (2,5)',
       'Pelham Pkwy (5)', 'Prospect Av (2,5)', 'Simpson St (2,5)',
       'St. Lawrence Ave. (6)', 'Tremont Av (B,D)',
       'Van Cortlandt Park-242 St (1)', 'Wakefield-241 St (2)',
       'West Farms Sq-East Tremont Av (2,5)',
       'Westchester Sq-East Tremont Av (6)', 'Whitlock Av (6)',
       'Woodlawn (4)', 'Zerega Av (6)', '15 St-Prospect Park (F,G)',
       '18 Av (D)', '18 Av (F)', '18 Av (N)', '20 Av (D)', '20 Av (N)',
       '25 Av (D)', '25 St (R)', '36 St (D,N,R)', '4 Av (F,G)/9 St (R)',
       '45 St (R)', '50 St (D)', '53 St (R)', '55 St (D)', '59 St (N,R)',
       '7 Av (B,Q)', '7 Av (F,G)', '71 St (D)', '77 St (R)', '79 St (D)',
       '8 Av (N)', '86 St. (N)', '86 St. (R)', '9 Av (D)',
       'Alabama Av (J)', 'Atlantic Av (L)',
       'Atlantic Av-Barclays Ctr (B,D,N,Q,R,2,3,4,5)', 'Avenue H (Q)',
       'Avenue I (F)', 'Avenue J (Q)', 'Avenue M (Q)', 'Avenue N (F)',
       'Avenue P (F)', 'Avenue U (F)', 'Avenue U (N)', 'Avenue U (Q)',
       'Avenue X (F)', 'Bay 50 St (D)', 'Bay Pkwy (D)', 'Bay Pkwy (F)',
       'Bay Pkwy (N)', 'Bay Ridge Av (R)', 'Bay Ridge-95 St (R)',
       'Bedford Av (L)', 'Bedford-Nostrand Avs (G)', 'Bergen St (2,3)',
       'Bergen St (F,G)', 'Beverley Rd (Q)', 'Beverly Rd (2,5)',
       'Brighton Beach (B,Q)', 'Broadway (G)',
       'Broadway Junction (A,C,J,L,Z)', 'Bushwick Av-Aberdeen St (L)',
       'Canarsie-Rockaway Pkwy (L)', 'Carroll St (F,G)', 'Central Av (M)',
       'Chauncey St (J,Z)', 'Church Av (2,5)', 'Church Av (B,Q)',
       'Church Av (F,G)', 'Clark St (2,3)', 'Classon Av (G)',
       'Cleveland St (J)', 'Clinton-Washington Avs (C)',
       'Clinton-Washington Avs (G)',
       'Coney Island-Stillwell Av (D,F,N,Q)', 'Cortelyou Rd (Q)',
       'Court St (R)/Borough Hall (2,3,4,5)', 'Crescent St (J,Z)',
       'Crown Heights-Utica Av (3,4)', 'Cypress Hills (J)',
       'DeKalb Av (B,Q,R)', 'DeKalb Av (L)', 'Ditmas Av (F)',
       'East 105 St (L)', 'Eastern Pkwy-Brooklyn Museum (2,3)',
       'Euclid Av (A,C)', 'Flatbush Av-Brooklyn College (2,5)',
       'Flushing Av (G)', 'Flushing Av (J,M)', 'Fort Hamilton Pkwy (D)',
       'Fort Hamilton Pkwy (F,G)', 'Fort Hamilton Pkwy (N)',
       'Franklin Av (2,3,4,5)/Botanic Garden (S)', 'Franklin Av (C,S)',
       'Fulton St (G)', 'Gates Av (J,Z)', 'Graham Av (L)',
       'Grand Army Plaza (2,3)', 'Grand St (L)', 'Grant Av (A)',
       'Greenpoint Av (G)', 'Halsey St (J)', 'Halsey St (L)',
       'Hewes St (J,M)', 'High St (A,C)', 'Hoyt St (2,3)',
       'Hoyt-Schermerhorn Sts (A,C,G)', 'Jay St-MetroTech (A,C,F,R)',
       'Jefferson St (L)', 'Junius St (3)', 'Kings Hwy (B,Q)',
       'Kings Hwy (F)', 'Kings Hwy (N)', 'Kingston Av (3)',
       'Kingston-Throop Avs (C)', 'Knickerbocker Av (M)',
       'Kosciuszko St (J)', 'Lafayette Av (C)', 'Liberty Av (C)',
       'Livonia Av (L)', 'Lorimer St (J,M)',
       'Lorimer St (L)/Metropolitan Av (G)', 'Marcy Av (J,M,Z)',
       'Montrose Av (L)', 'Morgan Av (L)', 'Myrtle Av (J,M,Z)',
       'Myrtle-Willoughby Avs (G)', 'Myrtle-Wyckoff Avs (L,M)',
       'Nassau Av (G)', 'Neck Rd (Q)', 'Neptune Av (F)',
       'Nevins St (2,3,4,5)', 'New Lots Av (3)', 'New Lots Av (L)',
       'New Utrecht Av (N)/62 St (D)', 'Newkirk Av (2,5)',
       'Newkirk Plaza (B,Q)', 'Norwood Av (J,Z)', 'Nostrand Av (3)',
       'Nostrand Av (A,C)', 'Ocean Pkwy (Q)', 'Park Pl (S)',
       'Parkside Av (Q)', 'Pennsylvania Av (3)', 'President St (2,5)',
       'Prospect Av (R)', 'Prospect Park (B,Q,S)', 'Ralph Av (C)',
       'Rockaway Av (3)', 'Rockaway Av (C)', 'Saratoga Av (3)',
       'Sheepshead Bay (B,Q)', 'Shepherd Av (C)', 'Smith-9 Sts (F,G)',
       'Sterling St. (2,5)', 'Sutter Av (L)', 'Sutter Av-Rutland Rd (3)',
       'Union St (R)', 'Utica Av (A,C)', 'Van Siclen Av (3)',
       'Van Siclen Av (C)', 'Van Siclen Av (J,Z)',
       'West 8 St-New York Aquarium (F,Q)', 'Wilson Av (L)',
       'Winthrop St (2,5)', 'York St (F)', '1 Av (L)', '103 St (1)',
       '103 St (6)', '103 St (B,C)', '110 St (6)', '116 St (2,3)',
       '116 St (6)', '116 St (B,C)', '116 St-Columbia University (1)',
       '125 St (1)', '125 St (2,3)', '125 St (4,5,6)', '125 St (A,B,C,D)',
       '135 St (2,3)', '135 St (B,C)', '137 St-City College (1)',
       '14 St (A,C,E)/8 Av (L)', '14 St (F,M,1,2,3)/6 Av (L)',
       '14 St-Union Sq (L,N,Q,R,W,4,5,6)', '145 St (1)', '145 St (3)',
       '145 St (A,B,C,D)', '155 St (B,D)', '155 St (C)', '157 St (1)',
       '163 St-Amsterdam Av (C)', '168 St (A,C,1)', '175 St (A)',
       '18 St (1)', '181 St (1)', '181 St (A)', '190 St (A)',
       '191 St (1)', '2 Av (F)', '207 St (1)', '215 St (1)', '23 St (1)',
       '23 St (6)', '23 St (C,E)', '23 St (F,M)', '23 St (R,W)',
       '28 St (1)', '28 St (6)', '28 St (R,W)', '3 Av (L)', '33 St (6)',
       '34 St-Herald Sq (B,D,F,M,N,Q,R,W)', '34 St-Hudson Yards (7)',
       '34 St-Penn Station (1,2,3)', '34 St-Penn Station (A,C,E)',
       '47-50 Sts-Rockefeller Center (B,D,F,M)', '49 St (N,R,W)',
       '5 Av-53 St (E,M)', '5 Av-59 St (N,R,W)', '50 St (1)',
       '50 St (C,E)', '57 St (F)', '57 St-7 Av (N,Q,R,W)',
       '59 St-Columbus Circle (A,B,C,D,1)', '66 St-Lincoln Center (1)',
       '68 St-Hunter College (6)', '7 Av (B,D,E)', '72 St (1,2,3)',
       '72 St (B,C)', '72 St (Q)', '77 St (6)', '79 St (1)',
       '8 St-New York University (R,W)',
       '81 St-Museum of Natural History (B,C)', '86 St. (1)',
       '86 St. (4,5,6)', '86 St. (B,C)', '86 St (Q)', '96 St (1,2,3)',
       '96 St (6)', '96 St (B,C)', '96 St (Q)', 'Astor Place (6)',
       'Bowery (J,Z)', 'Bowling Green (4,5)', 'Broad St (J,Z)',
       'Broadway-Lafayette St (B,D,F,M)/Bleecker St (6)',
       'Brooklyn Bridge-City Hall (4,5,6)/Chambers St (J,Z)',
       'Canal St (1)', 'Canal St (A,C,E)', 'Canal St (J,N,Q,R,W,Z,6)',
       'Cathedral Pkwy-110 St (1)', 'Cathedral Pkwy-110 St (B,C)',
       'Central Park North-110 St (2,3)', 'Chambers St (1,2,3)',
       'Chambers St (A,C)/WTC (E)/Park Place (2,3)/Cortlandt (R,W)',
       'Christopher St-Sheridan Sq (1)', 'City Hall (R,W)',
       'Delancey St (F)/Essex St (J,M,Z)', 'Dyckman St (1)',
       'Dyckman St (A)', 'East Broadway (F)', 'Franklin St (1)',
       'Fulton St (A,C,J,Z,2,3,4,5)', 'Grand Central-42 St (S,4,5,6,7)',
       'Grand St (B,D)', 'Harlem-148 St (3)', 'Houston St (1)',
       'Inwood-207 St (A)', 'Lexington Av (N,Q,R)/59 St (4,5,6)',
       'Lexington Av-53 St (E,M)/51 St (6)', 'Lexington Av-63 St (F,Q)',
       'Marble Hill-225 St (1)', 'Prince St (R,W)', 'Rector St (1)',
       'Rector St (R,W)', 'Roosevelt Island (F)',
       'South Ferry (1)/Whitehall St (R,W)', 'Spring St (6)',
       'Spring St (C,E)',
       'Times Sq-42 St (N,Q,R,S,W,1,2,3,7)/42 St (A,C,E)/Bryant Pk (B,D,F,M)/5 Av (7)',
       'Wall St (2,3)', 'Wall St (4,5)',
       'West 4 St-Washington Sq (A,B,C,D,E,F,M)', 'WTC Cortlandt (1)',
       '103 St-Corona Plaza (7)', '104 St (A)', '104 St (J,Z)',
       '111 St (7)', '111 St (A)', '111 St (J)', '121 St (J,Z)',
       '169 St (F)', '21 St (G)', '21 St-Queensbridge (F)', '30 Av (N,W)',
       '33 St-Rawson St (7)', '36 Av (N,W)', '36 St (M,R)', '39 Av (N,W)',
       '40 St-Lowery St (7)', '46 St (M,R)', '46 St-Bliss St (7)',
       '52 St (7)', '63 Dr-Rego Park (M,R)', '65 St (M,R)', '67 Av (M,R)',
       '69 St (7)', '74-Broadway (7)/Jackson Hts-Roosevelt Av (E,F,M,R)',
       '75 Av (E,F)', '75 St-Elderts Ln (J,Z)', '80 St (A)',
       '82 St-Jackson Hts (7)', '85 St-Forest Pkwy (J)', '88 St (A)',
       '90 St-Elmhurst Av (7)', 'Aqueduct Racetrack (A)',
       'Aqueduct-North Conduit Av (A)', 'Astoria Blvd (N,W)',
       'Astoria-Ditmars Blvd (N,W)', 'Beach 105 St (A,S)',
       'Beach 25 St (A)', 'Beach 36 St (A)', 'Beach 44 St (A)',
       'Beach 60 St (A)', 'Beach 67 St-Arverne By The Sea (A)',
       'Beach 90 St (A,S)', 'Beach 98 St (A,S)',
       'Briarwood-Van Wyck Blvd (E,F)', 'Broad Channel (A,S)',
       'Broadway (N,W)', 'Court Sq (E,G,M,7)', 'Elmhurst Av (M,R)',
       'Far Rockaway-Mott Av (A)', 'Flushing-Main St (7)',
       'Forest Av (M)', 'Forest Hills-71 Av (E,F,M,R)',
       'Fresh Pond Rd (M)', 'Grand Av-Newtown (M,R)',
       'Howard Beach-JFK Airport (A)', 'Hunters Point Av (7)',
       'Jamaica Center-Parsons-Archer (E,J,Z)', 'Jamaica-179 St (F)',
       'Jamaica-Van Wyck (E)', 'Junction Blvd (7)',
       'Kew Gardens-Union Turnpike (E,F)', 'Mets-Willets Point (7)',
       'Middle Village-Metropolitan Av (M)', 'Northern Blvd (M,R)',
       'Ozone Park-Lefferts Blvd (A)', 'Parsons Blvd (F)',
       'Queens Plaza (E,M,R)', 'Queensboro Plaza (N,W,7)',
       'Rockaway Blvd (A)', 'Rockaway Park-Beach 116 St (A,S)',
       'Seneca Av (M)', 'Steinway St. (M,R)', 'Sutphin Blvd (F)',
       'Sutphin Blvd-Archer Av-JFK Airport (E,J,Z)',
       'Vernon Blvd-Jackson Av (7)', 'Woodhaven Blvd (J,Z)',
       'Woodhaven Blvd (M,R)', 'Woodside-61 St (7)'], dtype=object)

# Data-Cleaning
Data-Cleaning and Then Fix Up the Station Name and then Fix It..

I have 2 datasets with station name but they are in different format

In [ ]:
merged_df['station_name'].unique()

array(['BROADWAY/NASSAU', '174-175 STREETS', '149 ST.-GRAND CONCOURSE',
       'PROSPECT AVENUE', '96 STREET', 'STILLWELL AVENUE-CONEY ISLAND',
       'GRAND AVE.-NEWTON', 'GUN HILL ROAD', 'BROOKLYN BRIDGE-CITY HALL',
       'FORDHAM ROAD', 'LAWRENCE STREET', '125 STREET',
       'QUEENSBORO PLAZA', '50 STREET', 'WINTHROP STREET', '42 STREET',
       '96TH STREET', 'BRIGHTON BEACH', 'UNION SQUARE',
       '3 AVENUE-149 STREET', 'BROOK AVENUE', 'ROCKAWAY AVENUE',
       '242 ST.-VAN CORTLANDT PARK', '145 STREET', '71 AVE.-FOREST HILLS',
       'KINGSBRIDGE ROAD', '59 STREET', 'WEST 34 STREET/HUDSON YARDS',
       '168 ST.-WASHINGTON HTS.', 'LEXINGTON AVE.', '116 STREET',
       '25 STREET', 'BOWERY', 'MOSHOLU PKWY.', 'UTICA AVENUE',
       'EUCLID AVENUE', '80 STREET', '14 STREET',
       '42 ST.-PORT AUTHORITY BUS TERM', '1 AVENUE',
       'UTICA AVE.-CROWN HEIGHTS', 'ASTORIA BLVD.', 'WOODLAWN',
       'W. 4 STREET', 'LONGWOOD AVENUE', 'HALSEY STREET',
       '42 ST.-TIMES SQUARE', '46 STREET', '7TH AVENUE', 'DEKALB AVENUE',
       'PROSPECT PARK', 'EAST 177 ST.-PARKCHESTER', '23 STREET',
       'ATLANTIC AVENUE', 'GATES AVENUE', 'BUHRE AVENUE', 'AVENUE "N"',
       'SUTPHIN BLVD.-ARCHER AVE.', 'HUNTS POINT AVENUE', 'FULTON STREET',
       '161 ST.-YANKEE STADIUM', 'SHEEPSHEAD BAY', '34 ST.-HERALD SQ.',
       'DITMARS BLVD.-ASTORIA', 'BEDFORD AVENUE', 'ASTOR PLACE',
       'ALABAMA AVENUE', '67 AVENUE', '18 AVENUE',
       'EAST TREMONT AV.-WESTCHESTER S', 'VAN WYCK BLVD.-BRIARWOOD',
       'EAST 174 STREET', 'CHAUNCEY STREET', 'DITMAS AVENUE',
       '34 ST.-PENN STATION', 'CHURCH AVENUE', 'PARSONS BLVD.',
       '191 STREET', '7 AVENUE', 'CHAMBERS STREET', 'BOWLING GREEN',
       'QUEENS PLAZA', 'KNICKERBOCKER AVENUE', 'FLUSHING AVENUE',
       '15 ST.-PROSPECT PARK', 'PARSONS/ARCHER-JAMAICA CENTER',
       'KINGSTON-THROOP AVENUES', 'SHEPHERD AVENUE', 'MAIN ST.-FLUSHING',
       '47-50 STS./ROCKEFELLER CTR.', 'BURNSIDE AVENUE', '86 STREET',
       'CITY HALL', 'BROADWAY/LAFAYETTE', 'BROADWAY-EASTERN PKWY',
       'ROOSEVELT ISLAND', 'HOWARD BEACH-JFK AIRPORT', '49 STREET',
       '205 ST.-NORWOOD', '110 STREET', 'BUSHWICK AVE.-ABERDEEN ST.',
       'JACKSON AVENUE', 'KINGS HIGHWAY', 'JUNCTION BLVD.',
       'JAY STREET-BOROUGH HALL', 'NEW LOTS AVENUE',
       '103 ST.-CORONA PLAZA', 'VAN SICLEN AVENUE', '14 ST.-UNION SQUARE',
       'CANAL STREET', 'ELDER AVENUE', '57 STREET',
       '42 ST.-GRAND CENTRAL', 'WYCKOFF AVENUE', '18 STREET',
       'JUNIUS STREET', '3 AVENUE-138 STREET', 'SIMPSON STREET',
       '167 STREET', '137 ST.-CITY COLLEGE',
       'FLATBUSH AVE.-BROOKLYN COLLEGE', 'BLEECKER STREET',
       'EAST 149 STREET', 'LIBERTY AVENUE', '110 ST.-CENTRAL PARK NORTH',
       'COURT STREET', 'WHITEHALL ST.-SOUTH FERRY',
       '59 ST.-COLUMBUS CIRCLE', '207 ST.-INWOOD',
       'DYRE AVE.-EASTCHESTER', 'BEACH 36 STREET', 'STERLING STREET',
       'MYRTLE/WYCKOFF AVENUES', '207 STREET', 'WOODHAVEN BLVD.',
       '111 STREET', '21 ST.-QUEENSBRIDGE', 'LIVONIA AVENUE',
       'BOROUGH HALL', '170 STREET', '183 STREET', '63 DRIVE-REGO PARK',
       'BRONX PARK EAST', 'MORGAN AVENUE', '135 STREET', 'HIGH STREET',
       'SUTTER AVENUE-RUTLAND ROAD', 'FRANKLIN AVENUE', 'PACIFIC STREET',
       'CLEVELAND STREET', 'BROADWAY-EAST NEW YORK', '181 STREET',
       '8 AVENUE', 'METROPOLITAN AVENUE', 'LEFFERTS BLVD.', '52 STREET',
       'BAY RIDGE AVENUE', '225 STREET', 'HOYT-SCHERMERHORN',
       'CHAMBERS ST.-WORLD TRADE CENTE', 'CYPRESS AVENUE', '157 STREET',
       'FORT HAMILTON PKWY', '34 STREET', 'NOSTRAND AVENUE',
       'EAST BROADWAY', '62 STREET', 'BAY PARKWAY', 'EAST 180 STREET',
       'INTERVALE AVENUE', 'SMITH-9 STREETS', '82 ST.-JACKSON HEIGHTS',
       'MYRTLE AVENUE', "EAST 143 ST.-ST. MARY'S STREET",
       'ROOSEVELT AVE.-JACKSON HEIGHTS', 'BROAD STREET', '219 STREET',
       'JEFFERSON STREET', '163 ST.-AMSTERDAM AVE.', '121 STREET',
       '155 STREET', '241 ST.-WAKEFIELD', '103 STREET', '169 STREET',
       '69 STREET', '40 STREET', '20 AVENUE', '2 AVENUE', '72 STREET',
       '148 ST.-HARLEM', '33 STREET', '75 AVENUE', '238 STREET',
       '238 ST.-NEREID AVE.', '74 ST.-BROADWAY', 'DELANCEY STREET',
       'ESSEX STREET', 'FAR ROCKAWAY-MOTT AVE.', '4 AVENUE-9 STREET',
       'CLINTON-WASHINGTON AVENUES', 'BEACH 90 STREET', 'CARROLL STREET',
       'STEINWAY ST.', '85 ST.-FOREST PKWY.', 'SOUTH FERRY',
       '200 ST.-DYCKMAN ST.', 'LEXINGTON AVENUE', 'NEW UTRECHT AVENUE',
       'GRAND STREET', 'AVENUE "U"', 'CORTLANDT STREET', 'BERGEN STREET',
       'COURT SQUARE', 'GRANT AVENUE', 'UNION TURNPIKE-KEW GARDENS',
       '79 STREET', 'GREENPOINT AVENUE', 'SPRING STREET', 'BROAD CHANNEL',
       'AVENUE "J"', 'NEWKIRK AVENUE', 'ROCKAWAY BLVD.',
       'CHRISTOPHER ST.-SHERIDAN SQ.', 'AVENUE "H"',
       'WILLETS POINT-SHEA STADIUM', '179 ST.-JAMAICA', 'CRESCENT STREET',
       'KOSCIUSKO STREET', 'WALL STREET', '5 AVENUE',
       'ST. LAWRENCE AVENUE', 'MARCY AVENUE', 'BEACH 25 STREET',
       'PRESIDENT STREET', '175 STREET', '176 STREET',
       'BEDFORD-NOSTRAND AVENUES', '68 ST.-HUNTER COLLEGE',
       '90 ST.-ELMHURST AVE.', 'YORK STREET', 'GRAND ARMY PLAZA',
       'MORRIS PARK', 'WEST 8 STREET-NY AQUARIUM', 'FREEMAN STREET',
       '138 ST.-GRAND CONCOURSE', '25 AVENUE', '215 STREET',
       'HEWES STREET', '3 AVENUE', '30 AVENUE', 'CORTELYOU ROAD',
       'BROADWAY', 'FOREST AVENUE', '23 STREET-ELY AVENUE', '36 STREET',
       'WILSON AVENUE', 'VERNON BLVD.-JACKSON AVE.', 'AVENUE "M"',
       '66 ST.-LINCOLN CENTER', 'FRANKLIN STREET', 'HOUSTON STREET',
       '86TH STREET', 'NEVINS STREET', 'LAFAYETTE AVENUE', '51 STREET',
       'BEVERLEY ROAD', 'HOYT STREET', 'MT. EDEN AVENUE',
       'KINGSTON AVENUE', 'JAMAICA-VAN WYCK', '8 ST.-NYU', 'BEVERLY ROAD',
       'NORWOOD AVENUE', 'GRAHAM AVENUE', 'TREMONT AVENUE',
       'PELHAM BAY PARK', '28 STREET', 'WHITLOCK AVENUE',
       'PENNSYLVANIA AVENUE', '45 STREET', 'ZEREGA AVENUE',
       '110 ST.-CATHEDRAL PKWY.', 'PELHAM PKWY.', 'SUTTER AVENUE',
       'ROCKAWAY PKWY-CANARSIE', 'AQUEDUCT-NORTH CONDUIT AVE.',
       '72ND STREET', 'ELMHURST AVE.', 'BOTANIC GARDEN', '6 AVENUE',
       '233 STREET', '190 STREET', 'PARKSIDE AVENUE',
       '116 ST.-COLUMBIA UNIVERSITY', 'EAST 105 STREET', 'PARK PLACE',
       'CASTLE HILL AVENUE', 'BAY 50 STREET', 'CLASSON AVENUE',
       '9 AVENUE', '77 STREET', 'BEDFORD PK. BLVD.',
       '95 STREET-BAY RIDGE', '45 ROAD-COURT HOUSE SQUARE',
       'FRESH POND ROAD', 'DISTRICT 11 OFFICE', 'CENTRAL AVENUE',
       'ALLERTON AVENUE', 'BEACH 67 STREET', 'DISTRICT 4 OFFICE',
       'AVENUE "X"', '65 STREET', 'PRINCE STREET', '182-183 STREETS',
       '53 STREET', 'NEPTUNE AVENUE', 'SUTPHIN BLVD.', 'MONTROSE AVENUE',
       '81 ST.-MUSEUM OF NATURAL HISTO', 'EAST TREMONT AVE.-WEST FARMS S',
       'NORTHERN BLVD.', 'SOUNDVIEW AVENUE', '61 ST.-WOODSIDE',
       'UNION STREET', '9TH STREET', 'DISTRICT 20 OFFICE',
       'BEDFORD PK. BLVD.-LEHMAN COLLE', 'MIDDLETOWN ROAD',
       'NASSAU AVENUE', 'DISTRICT 3 OFFICE', 'MYRTLE-WILLOUGHBY AVENUES',
       'LORIMER STREET', '102 STREET', '231 STREET', 'BAYCHESTER AVENUE',
       'ROCKAWAY PARK-BEACH 116 ST.', 'DISTRICT 33 OFFICE',
       'HUNTERS POINT AVENUE', '75 ST.-ELDERTS LANE',
       'EASTERN PKWY-BROOKLYN MUSEUM', 'NECK ROAD', 'BURKE AVENUE',
       'CLARK STREET', '88 STREET', 'DISTRICT 1 OFFICE',
       '225 ST.-MARBLE HILL', 'RALPH AVENUE', 'RECTOR STREET',
       'AVENUE "P"', 'BEACH 44 STREET', 'BEACH 60 STREET', '71 STREET',
       '39 AVENUE', '104 STREET', 'OCEAN PKWY', 'DISTRICT 12 OFFICE',
       'AQUEDUCT-RACETRACK', 'BEACH 98 STREET', '36 AVENUE',
       'SARATOGA AVENUE', 'BEACH 105 STREET', 'CYPRESS HILLS',
       '55 STREET', 'AVENUE "I"', '21 STREET', 'DISTRICT 32 OFFICE',
       'SENECA AVENUE'], dtype=object)

In [ ]:
## Let's clean the complaint dataset first

import re

def clean_complaints_station(station: str) -> str:
    """Clean station names from the complaints dataset."""
    # Replace slashes with spaces or hyphens
    station = station.replace('-', ' ')  # You can change this to '-' if you prefer
    # Remove extra spaces
    station = re.sub(r'\s+', ' ', station)
    # Convert to uppercase
    station = station.upper().strip()
    # Standardize abbreviations
    station = re.sub(r'\b(STREET|STREETS|STS)\b', 'ST', station)  # Convert 'ST.' to 'STREET'

    ## Convert Avenue
    station = re.sub(r'\b(AVENUE|AVENUES)\b', 'AV', station)

    # Remove TH from stations

    station = re.sub(r'\b(TH)\b', '', station)

    return station

merged_df['station_name'] = merged_df['station_name'].apply(clean_complaints_station)
merged_df_2019['station_name'] = merged_df_2019['station_name'].apply(clean_complaints_station)

merged_df['station_name'].unique()

array(['BROADWAY/NASSAU', '174 175 ST', '149 ST. GRAND CONCOURSE',
       'PROSPECT AV', '96 ST', 'STILLWELL AV CONEY ISLAND',
       'GRAND AVE. NEWTON', 'GUN HILL ROAD', 'BROOKLYN BRIDGE CITY HALL',
       'FORDHAM ROAD', 'LAWRENCE ST', '125 ST', 'QUEENSBORO PLAZA',
       '50 ST', 'WINTHROP ST', '42 ST', '96TH ST', 'BRIGHTON BEACH',
       'UNION SQUARE', '3 AV 149 ST', 'BROOK AV', 'ROCKAWAY AV',
       '242 ST. VAN CORTLANDT PARK', '145 ST', '71 AVE. FOREST HILLS',
       'KINGSBRIDGE ROAD', '59 ST', 'WEST 34 ST/HUDSON YARDS',
       '168 ST. WASHINGTON HTS.', 'LEXINGTON AVE.', '116 ST', '25 ST',
       'BOWERY', 'MOSHOLU PKWY.', 'UTICA AV', 'EUCLID AV', '80 ST',
       '14 ST', '42 ST. PORT AUTHORITY BUS TERM', '1 AV',
       'UTICA AVE. CROWN HEIGHTS', 'ASTORIA BLVD.', 'WOODLAWN', 'W. 4 ST',
       'LONGWOOD AV', 'HALSEY ST', '42 ST. TIMES SQUARE', '46 ST',
       '7TH AV', 'DEKALB AV', 'PROSPECT PARK', 'EAST 177 ST. PARKCHESTER',
       '23 ST', 'ATLANTIC AV', 'GATES AV', 'BUHRE AV', 'AV "N"',
       'SUTPHIN BLVD. ARCHER AVE.', 'HUNTS POINT AV', 'FULTON ST',
       '161 ST. YANKEE STADIUM', 'SHEEPSHEAD BAY', '34 ST. HERALD SQ.',
       'DITMARS BLVD. ASTORIA', 'BEDFORD AV', 'ASTOR PLACE', 'ALABAMA AV',
       '67 AV', '18 AV', 'EAST TREMONT AV. WESTCHESTER S',
       'VAN WYCK BLVD. BRIARWOOD', 'EAST 174 ST', 'CHAUNCEY ST',
       'DITMAS AV', '34 ST. PENN STATION', 'CHURCH AV', 'PARSONS BLVD.',
       '191 ST', '7 AV', 'CHAMBERS ST', 'BOWLING GREEN', 'QUEENS PLAZA',
       'KNICKERBOCKER AV', 'FLUSHING AV', '15 ST. PROSPECT PARK',
       'PARSONS/ARCHER JAMAICA CENTER', 'KINGSTON THROOP AV',
       'SHEPHERD AV', 'MAIN ST. FLUSHING', '47 50 ST./ROCKEFELLER CTR.',
       'BURNSIDE AV', '86 ST', 'CITY HALL', 'BROADWAY/LAFAYETTE',
       'BROADWAY EASTERN PKWY', 'ROOSEVELT ISLAND',
       'HOWARD BEACH JFK AIRPORT', '49 ST', '205 ST. NORWOOD', '110 ST',
       'BUSHWICK AVE. ABERDEEN ST.', 'JACKSON AV', 'KINGS HIGHWAY',
       'JUNCTION BLVD.', 'JAY ST BOROUGH HALL', 'NEW LOTS AV',
       '103 ST. CORONA PLAZA', 'VAN SICLEN AV', '14 ST. UNION SQUARE',
       'CANAL ST', 'ELDER AV', '57 ST', '42 ST. GRAND CENTRAL',
       'WYCKOFF AV', '18 ST', 'JUNIUS ST', '3 AV 138 ST', 'SIMPSON ST',
       '167 ST', '137 ST. CITY COLLEGE', 'FLATBUSH AVE. BROOKLYN COLLEGE',
       'BLEECKER ST', 'EAST 149 ST', 'LIBERTY AV',
       '110 ST. CENTRAL PARK NORTH', 'COURT ST',
       'WHITEHALL ST. SOUTH FERRY', '59 ST. COLUMBUS CIRCLE',
       '207 ST. INWOOD', 'DYRE AVE. EASTCHESTER', 'BEACH 36 ST',
       'STERLING ST', 'MYRTLE/WYCKOFF AV', '207 ST', 'WOODHAVEN BLVD.',
       '111 ST', '21 ST. QUEENSBRIDGE', 'LIVONIA AV', 'BOROUGH HALL',
       '170 ST', '183 ST', '63 DRIVE REGO PARK', 'BRONX PARK EAST',
       'MORGAN AV', '135 ST', 'HIGH ST', 'SUTTER AV RUTLAND ROAD',
       'FRANKLIN AV', 'PACIFIC ST', 'CLEVELAND ST',
       'BROADWAY EAST NEW YORK', '181 ST', '8 AV', 'METROPOLITAN AV',
       'LEFFERTS BLVD.', '52 ST', 'BAY RIDGE AV', '225 ST',
       'HOYT SCHERMERHORN', 'CHAMBERS ST. WORLD TRADE CENTE',
       'CYPRESS AV', '157 ST', 'FORT HAMILTON PKWY', '34 ST',
       'NOSTRAND AV', 'EAST BROADWAY', '62 ST', 'BAY PARKWAY',
       'EAST 180 ST', 'INTERVALE AV', 'SMITH 9 ST',
       '82 ST. JACKSON HEIGHTS', 'MYRTLE AV',
       "EAST 143 ST. ST. MARY'S ST", 'ROOSEVELT AVE. JACKSON HEIGHTS',
       'BROAD ST', '219 ST', 'JEFFERSON ST', '163 ST. AMSTERDAM AVE.',
       '121 ST', '155 ST', '241 ST. WAKEFIELD', '103 ST', '169 ST',
       '69 ST', '40 ST', '20 AV', '2 AV', '72 ST', '148 ST. HARLEM',
       '33 ST', '75 AV', '238 ST', '238 ST. NEREID AVE.',
       '74 ST. BROADWAY', 'DELANCEY ST', 'ESSEX ST',
       'FAR ROCKAWAY MOTT AVE.', '4 AV 9 ST', 'CLINTON WASHINGTON AV',
       'BEACH 90 ST', 'CARROLL ST', 'STEINWAY ST.', '85 ST. FOREST PKWY.',
       'SOUTH FERRY', '200 ST. DYCKMAN ST.', 'LEXINGTON AV',
       'NEW UTRECHT AV', 'GRAND ST', 'AV "U"', 'CORTLANDT ST',
       'BERGEN ST', 'COURT SQUARE', 'GRANT AV',
       'UNION TURNPIKE KEW GARDENS', '79 ST', 'GREENPOINT AV',
       'SPRING ST', 'BROAD CHANNEL', 'AV "J"', 'NEWKIRK AV',
       'ROCKAWAY BLVD.', 'CHRISTOPHER ST. SHERIDAN SQ.', 'AV "H"',
       'WILLETS POINT SHEA STADIUM', '179 ST. JAMAICA', 'CRESCENT ST',
       'KOSCIUSKO ST', 'WALL ST', '5 AV', 'ST. LAWRENCE AV', 'MARCY AV',
       'BEACH 25 ST', 'PRESIDENT ST', '175 ST', '176 ST',
       'BEDFORD NOSTRAND AV', '68 ST. HUNTER COLLEGE',
       '90 ST. ELMHURST AVE.', 'YORK ST', 'GRAND ARMY PLAZA',
       'MORRIS PARK', 'WEST 8 ST NY AQUARIUM', 'FREEMAN ST',
       '138 ST. GRAND CONCOURSE', '25 AV', '215 ST', 'HEWES ST', '3 AV',
       '30 AV', 'CORTELYOU ROAD', 'BROADWAY', 'FOREST AV', '23 ST ELY AV',
       '36 ST', 'WILSON AV', 'VERNON BLVD. JACKSON AVE.', 'AV "M"',
       '66 ST. LINCOLN CENTER', 'FRANKLIN ST', 'HOUSTON ST', '86TH ST',
       'NEVINS ST', 'LAFAYETTE AV', '51 ST', 'BEVERLEY ROAD', 'HOYT ST',
       'MT. EDEN AV', 'KINGSTON AV', 'JAMAICA VAN WYCK', '8 ST. NYU',
       'BEVERLY ROAD', 'NORWOOD AV', 'GRAHAM AV', 'TREMONT AV',
       'PELHAM BAY PARK', '28 ST', 'WHITLOCK AV', 'PENNSYLVANIA AV',
       '45 ST', 'ZEREGA AV', '110 ST. CATHEDRAL PKWY.', 'PELHAM PKWY.',
       'SUTTER AV', 'ROCKAWAY PKWY CANARSIE',
       'AQUEDUCT NORTH CONDUIT AVE.', '72ND ST', 'ELMHURST AVE.',
       'BOTANIC GARDEN', '6 AV', '233 ST', '190 ST', 'PARKSIDE AV',
       '116 ST. COLUMBIA UNIVERSITY', 'EAST 105 ST', 'PARK PLACE',
       'CASTLE HILL AV', 'BAY 50 ST', 'CLASSON AV', '9 AV', '77 ST',
       'BEDFORD PK. BLVD.', '95 ST BAY RIDGE',
       '45 ROAD COURT HOUSE SQUARE', 'FRESH POND ROAD',
       'DISTRICT 11 OFFICE', 'CENTRAL AV', 'ALLERTON AV', 'BEACH 67 ST',
       'DISTRICT 4 OFFICE', 'AV "X"', '65 ST', 'PRINCE ST', '182 183 ST',
       '53 ST', 'NEPTUNE AV', 'SUTPHIN BLVD.', 'MONTROSE AV',
       '81 ST. MUSEUM OF NATURAL HISTO', 'EAST TREMONT AVE. WEST FARMS S',
       'NORTHERN BLVD.', 'SOUNDVIEW AV', '61 ST. WOODSIDE', 'UNION ST',
       '9TH ST', 'DISTRICT 20 OFFICE', 'BEDFORD PK. BLVD. LEHMAN COLLE',
       'MIDDLETOWN ROAD', 'NASSAU AV', 'DISTRICT 3 OFFICE',
       'MYRTLE WILLOUGHBY AV', 'LORIMER ST', '102 ST', '231 ST',
       'BAYCHESTER AV', 'ROCKAWAY PARK BEACH 116 ST.',
       'DISTRICT 33 OFFICE', 'HUNTERS POINT AV', '75 ST. ELDERTS LANE',
       'EASTERN PKWY BROOKLYN MUSEUM', 'NECK ROAD', 'BURKE AV',
       'CLARK ST', '88 ST', 'DISTRICT 1 OFFICE', '225 ST. MARBLE HILL',
       'RALPH AV', 'RECTOR ST', 'AV "P"', 'BEACH 44 ST', 'BEACH 60 ST',
       '71 ST', '39 AV', '104 ST', 'OCEAN PKWY', 'DISTRICT 12 OFFICE',
       'AQUEDUCT RACETRACK', 'BEACH 98 ST', '36 AV', 'SARATOGA AV',
       'BEACH 105 ST', 'CYPRESS HILLS', '55 ST', 'AV "I"', '21 ST',
       'DISTRICT 32 OFFICE', 'SENECA AV'], dtype=object)

In [ ]:
## Now let's edit this out now NOTE I HAVE TO tweak certain stuff because the naming convention is weird..

def clean_ridership_station(station: str) -> str:
    """Clean station names from the ridership dataset."""
    # Remove the train lines (anything inside parentheses)
    station = re.sub(r'\(.*\)', '', station)
    # Replace hyphens with spaces
    station = station.replace('-', ' ')  # You can change this to '-' if you prefer
    # Remove extra spaces
    station = re.sub(r'\s+', ' ', station)
    # Strip leading/trailing spaces and convert to uppercase
    station = station.strip().upper()

    ## Remove Special Characters

    station = re.sub(r'[^a-zA-Z0-9\s]', '', station)

    ## Convert STREETS
    station = re.sub(r'\b(STREET|STREETS|STS)\b', 'ST', station)

    ## Convert CENTER to CTR

    station = re.sub(r'\b(CENTER)\b', 'CTR', station)

    ## Fix West 4 STREET
    station = re.sub(r'\b(WEST 4 ST WASHINGTON SQ)\b', 'W. 4 ST', station)

    return station

df_station_2022['Station (alphabetical by borough)'] = df_station_2022['Station (alphabetical by borough)'].apply(clean_ridership_station)
df_station_2019['Station (alphabetical by borough)'] = df_station_2019['Station (alphabetical by borough)'].apply(clean_ridership_station)

df_station_2022['Station (alphabetical by borough)'].unique()

<ipython-input-15-199a8840c49a>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_station_2022['Station (alphabetical by borough)'] = df_station_2022['Station (alphabetical by borough)'].apply(clean_ridership_station)
<ipython-input-15-199a8840c49a>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_station_2019['Station (alphabetical by borough)'] = df_station_2019['Station (alphabetical by borough)'].apply(clean_ridership_station)

array(['138 ST GRAND CONCOURSE', '149 ST GRAND CONCOURSE',
       '161 ST YANKEE STADIUM', '167 ST', '170 ST', '174 ST',
       '174 175 ST', '176 ST', '182 183 ST', '183 ST', '219 ST', '225 ST',
       '231 ST', '233 ST', '238 ST', '3 AV 138 ST', '3 AV 149 ST',
       'ALLERTON AV', 'BAYCHESTER AV', 'BEDFORD PARK BLVD',
       'BEDFORD PARK BLVD LEHMAN COLLEGE', 'BRONX PARK EAST', 'BROOK AV',
       'BUHRE AV', 'BURKE AV', 'BURNSIDE AV', 'CASTLE HILL AV',
       'CYPRESS AV', 'EAST 143 ST ST MARYS ST', 'EAST 149 ST',
       'EAST 180 ST', 'EASTCHESTER DYRE AV', 'ELDER AV', 'FORDHAM RD',
       'FREEMAN ST', 'GUN HILL RD', 'HUNTS POINT AV', 'INTERVALE AV',
       'JACKSON AV', 'KINGSBRIDGE RD', 'LONGWOOD AV', 'MIDDLETOWN RD',
       'MORRIS PARK', 'MORRISON AV SOUNDVIEW', 'MOSHOLU PKWY',
       'MT EDEN AV', 'NEREID AV', 'NORWOOD 205 ST', 'PARKCHESTER',
       'PELHAM BAY PARK', 'PELHAM PKWY', 'PROSPECT AV', 'SIMPSON ST',
       'ST LAWRENCE AVE', 'TREMONT AV', 'VAN CORTLANDT PARK 242 ST',
       'WAKEFIELD 241 ST', 'WEST FARMS SQ EAST TREMONT AV',
       'WESTCHESTER SQ EAST TREMONT AV', 'WHITLOCK AV', 'WOODLAWN',
       'ZEREGA AV', '15 ST PROSPECT PARK', '18 AV', '20 AV', '25 AV',
       '25 ST', '36 ST', '4 AV', '45 ST', '50 ST', '53 ST', '55 ST',
       '59 ST', '7 AV', '71 ST', '77 ST', '79 ST', '8 AV', '86 ST',
       '9 AV', 'ALABAMA AV', 'ATLANTIC AV', 'ATLANTIC AV BARCLAYS CTR',
       'AVENUE H', 'AVENUE I', 'AVENUE J', 'AVENUE M', 'AVENUE N',
       'AVENUE P', 'AVENUE U', 'AVENUE X', 'BAY 50 ST', 'BAY PKWY',
       'BAY RIDGE AV', 'BAY RIDGE 95 ST', 'BEDFORD AV',
       'BEDFORD NOSTRAND AVS', 'BERGEN ST', 'BEVERLEY RD', 'BEVERLY RD',
       'BRIGHTON BEACH', 'BROADWAY', 'BROADWAY JUNCTION',
       'BUSHWICK AV ABERDEEN ST', 'CANARSIE ROCKAWAY PKWY', 'CARROLL ST',
       'CENTRAL AV', 'CHAUNCEY ST', 'CHURCH AV', 'CLARK ST', 'CLASSON AV',
       'CLEVELAND ST', 'CLINTON WASHINGTON AVS',
       'CONEY ISLAND STILLWELL AV', 'CORTELYOU RD', 'COURT ST',
       'CRESCENT ST', 'CROWN HEIGHTS UTICA AV', 'CYPRESS HILLS',
       'DEKALB AV', 'DITMAS AV', 'EAST 105 ST',
       'EASTERN PKWY BROOKLYN MUSEUM', 'EUCLID AV',
       'FLATBUSH AV BROOKLYN COLLEGE', 'FLUSHING AV',
       'FORT HAMILTON PKWY', 'FRANKLIN AV', 'FULTON ST', 'GATES AV',
       'GRAHAM AV', 'GRAND ARMY PLAZA', 'GRAND ST', 'GRANT AV',
       'GREENPOINT AV', 'HALSEY ST', 'HEWES ST', 'HIGH ST', 'HOYT ST',
       'HOYT SCHERMERHORN ST', 'JAY ST METROTECH', 'JEFFERSON ST',
       'JUNIUS ST', 'KINGS HWY', 'KINGSTON AV', 'KINGSTON THROOP AVS',
       'KNICKERBOCKER AV', 'KOSCIUSZKO ST', 'LAFAYETTE AV', 'LIBERTY AV',
       'LIVONIA AV', 'LORIMER ST', 'MARCY AV', 'MONTROSE AV', 'MORGAN AV',
       'MYRTLE AV', 'MYRTLE WILLOUGHBY AVS', 'MYRTLE WYCKOFF AVS',
       'NASSAU AV', 'NECK RD', 'NEPTUNE AV', 'NEVINS ST', 'NEW LOTS AV',
       'NEW UTRECHT AV', 'NEWKIRK AV', 'NEWKIRK PLAZA', 'NORWOOD AV',
       'NOSTRAND AV', 'OCEAN PKWY', 'PARK PL', 'PARKSIDE AV',
       'PENNSYLVANIA AV', 'PRESIDENT ST', 'PROSPECT PARK', 'RALPH AV',
       'ROCKAWAY AV', 'SARATOGA AV', 'SHEEPSHEAD BAY', 'SHEPHERD AV',
       'SMITH 9 ST', 'STERLING ST', 'SUTTER AV', 'SUTTER AV RUTLAND RD',
       'UNION ST', 'UTICA AV', 'VAN SICLEN AV',
       'WEST 8 ST NEW YORK AQUARIUM', 'WILSON AV', 'WINTHROP ST',
       'YORK ST', '1 AV', '103 ST', '110 ST', '116 ST',
       '116 ST COLUMBIA UNIVERSITY', '125 ST', '135 ST',
       '137 ST CITY COLLEGE', '14 ST', '14 ST UNION SQ', '145 ST',
       '155 ST', '157 ST', '163 ST AMSTERDAM AV', '168 ST', '175 ST',
       '18 ST', '181 ST', '190 ST', '191 ST', '2 AV', '207 ST', '215 ST',
       '23 ST', '28 ST', '3 AV', '33 ST', '34 ST HERALD SQ',
       '34 ST HUDSON YARDS', '34 ST PENN STATION',
       '47 50 ST ROCKEFELLER CTR', '49 ST', '5 AV 53 ST', '5 AV 59 ST',
       '57 ST', '57 ST 7 AV', '59 ST COLUMBUS CIRCLE',
       '66 ST LINCOLN CTR', '68 ST HUNTER COLLEGE', '72 ST',
       '8 ST NEW YORK UNIVERSITY', '81 ST MUSEUM OF NATURAL HISTORY',
       '96 ST', 'ASTOR PLACE', 'BOWERY', 'BOWLING GREEN', 'BROAD ST',
       'BROADWAY LAFAYETTE ST', 'BROOKLYN BRIDGE CITY HALL', 'CANAL ST',
       'CATHEDRAL PKWY 110 ST', 'CENTRAL PARK NORTH 110 ST',
       'CHAMBERS ST', 'CHRISTOPHER ST SHERIDAN SQ', 'CITY HALL',
       'DELANCEY ST', 'DYCKMAN ST', 'EAST BROADWAY', 'FRANKLIN ST',
       'GRAND CENTRAL 42 ST', 'HARLEM 148 ST', 'HOUSTON ST',
       'INWOOD 207 ST', 'LEXINGTON AV', 'LEXINGTON AV 53 ST',
       'LEXINGTON AV 63 ST', 'MARBLE HILL 225 ST', 'PRINCE ST',
       'RECTOR ST', 'ROOSEVELT ISLAND', 'SOUTH FERRY', 'SPRING ST',
       'TIMES SQ 42 ST', 'WALL ST', 'W. 4 ST', 'WTC CORTLANDT',
       '103 ST CORONA PLAZA', '104 ST', '111 ST', '121 ST', '169 ST',
       '21 ST', '21 ST QUEENSBRIDGE', '30 AV', '33 ST RAWSON ST', '36 AV',
       '39 AV', '40 ST LOWERY ST', '46 ST', '46 ST BLISS ST', '52 ST',
       '63 DR REGO PARK', '65 ST', '67 AV', '69 ST', '74 BROADWAY',
       '75 AV', '75 ST ELDERTS LN', '80 ST', '82 ST JACKSON HTS',
       '85 ST FOREST PKWY', '88 ST', '90 ST ELMHURST AV',
       'AQUEDUCT RACETRACK', 'AQUEDUCT NORTH CONDUIT AV', 'ASTORIA BLVD',
       'ASTORIA DITMARS BLVD', 'BEACH 105 ST', 'BEACH 25 ST',
       'BEACH 36 ST', 'BEACH 44 ST', 'BEACH 60 ST',
       'BEACH 67 ST ARVERNE BY THE SEA', 'BEACH 90 ST', 'BEACH 98 ST',
       'BRIARWOOD VAN WYCK BLVD', 'BROAD CHANNEL', 'COURT SQ',
       'ELMHURST AV', 'FAR ROCKAWAY MOTT AV', 'FLUSHING MAIN ST',
       'FOREST AV', 'FOREST HILLS 71 AV', 'FRESH POND RD',
       'GRAND AV NEWTOWN', 'HOWARD BEACH JFK AIRPORT', 'HUNTERS POINT AV',
       'JAMAICA CTR PARSONS ARCHER', 'JAMAICA 179 ST', 'JAMAICA VAN WYCK',
       'JUNCTION BLVD', 'KEW GARDENS UNION TURNPIKE',
       'METS WILLETS POINT', 'MIDDLE VILLAGE METROPOLITAN AV',
       'NORTHERN BLVD', 'OZONE PARK LEFFERTS BLVD', 'PARSONS BLVD',
       'QUEENS PLAZA', 'QUEENSBORO PLAZA', 'ROCKAWAY BLVD',
       'ROCKAWAY PARK BEACH 116 ST', 'SENECA AV', 'STEINWAY ST',
       'SUTPHIN BLVD', 'SUTPHIN BLVD ARCHER AV JFK AIRPORT',
       'VERNON BLVD JACKSON AV', 'WOODHAVEN BLVD', 'WOODSIDE 61 ST'],
      dtype=object)

In [ ]:
df_station_2019

      Station (alphabetical by borough)       2019
1                138 ST GRAND CONCOURSE  1035878.0
2                149 ST GRAND CONCOURSE  3931908.0
3                 161 ST YANKEE STADIUM  8254928.0
4                                167 ST  2653237.0
5                                167 ST  2734530.0
..                                  ...        ...
422  SUTPHIN BLVD ARCHER AV JFK AIRPORT  7354064.0
423              VERNON BLVD JACKSON AV  4623070.0
424                      WOODHAVEN BLVD  1337787.0
425                      WOODHAVEN BLVD  6381132.0
426                      WOODSIDE 61 ST  5345369.0

[423 rows x 2 columns]

In [ ]:
df_combined_ridership = df_station_2022.groupby('Station (alphabetical by borough)',as_index = False).sum()
df_combined_ridership_2019 = df_station_2019.groupby('Station (alphabetical by borough)',as_index = False).sum()

# Merge the two dataframes now..

In [ ]:
final_df = pd.merge(merged_df, df_combined_ridership, left_on='station_name',right_on = 'Station (alphabetical by borough)', how='left')

final_df_2019 = pd.merge(merged_df_2019, df_combined_ridership_2019, left_on='station_name',right_on = 'Station (alphabetical by borough)', how='left')
## View the selected column and make sure I track everything
final_df[['station_name','Station (alphabetical by borough)','2022']].head(5)

              station_name Station (alphabetical by borough)        2022
0          BROADWAY/NASSAU                               NaN         NaN
1               174 175 ST                        174 175 ST    859988.0
2  149 ST. GRAND CONCOURSE                               NaN         NaN
3              PROSPECT AV                       PROSPECT AV   2408486.0
4                    96 ST                             96 ST  15818876.0

#FUZZYWUZZY
We use the fuzzywuzzy to match smiliar names with the station to ensure we have everything as accurate as possible

In [ ]:
!pip install fuzzywuzzy
!pip install python-Levenshtein

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl.metadata (4.9 kB)
Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0
Collecting python-Levenshtein
  Downloading python_Levenshtein-0.26.1-py3-none-any.whl.metadata (3.7 kB)
Collecting Levenshtein==0.26.1 (from python-Levenshtein)
  Downloading levenshtein-0.26.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.2 kB)
Collecting rapidfuzz<4.0.0,>=3.9.0 (from Levenshtein==0.26.1->python-Levenshtein)
  Downloading rapidfuzz-3.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Downloading python_Levenshtein-0.26.1-py3-none-any.whl (9.4 kB)
Downloading levenshtein-0.26.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (162 kB)
    162.6/162.6 kB 3.3 MB/s eta 0:00:00
Downloading rapidfuzz-3.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
    3.1/3.1 MB 31.9 MB/s eta 0:00:00
Installing collected packages: rapidfuzz, Levenshtein, python-Levenshtein
Successfully installed Levenshtein-0.26.1 python-Levenshtein-0.26.1 rapidfuzz-3.10.1

In [ ]:
## Let's try fuzzywuzzing matching

from fuzzywuzzy import fuzz
from fuzzywuzzy import process


def match_station(row, ridership_stations,threshold=80):
    # Use fuzzywuzzy to find the best match from the ridership DataFrame
    best_match = process.extractOne(row['station_name'], ridership_stations)
    return best_match[0] if best_match else None

# Apply the matching function to the merged_df (complaints DataFrame)
merged_df['Matched_Station'] = merged_df.apply(match_station, ridership_stations=df_combined_ridership['Station (alphabetical by borough)'], axis=1)

## Apply it to the 2019 dataset as well

merged_df_2019['Matched_Station'] = merged_df_2019.apply(match_station, ridership_stations=df_combined_ridership_2019['Station (alphabetical by borough)'], axis=1)

In [ ]:
merged_df_2019.columns

Index(['Unnamed: 0', 'cmplnt_fr_dt', 'cmplnt_fr_tm', 'cmplnt_to_tm', 'rpt_dt',
       'ofns_desc', 'crm_atpt_cptd_cd', 'law_cat_cd', 'boro_nm',
       'loc_of_occur_desc', 'prem_typ_desc', 'juris_desc', 'jurisdiction_code',
       'x_coord_cd', 'y_coord_cd', 'susp_age_group', 'susp_race', 'susp_sex',
       'transit_district', 'latitude', 'longitude', 'lat_lon', 'station_name',
       'day', 'month', 'year', 'complaint_count', 'Matched_Station'],
      dtype='object')

In [ ]:
final_df2 = pd.merge(merged_df, df_combined_ridership, left_on='Matched_Station',right_on = 'Station (alphabetical by borough)', how='left')

final_df2_2019 = pd.merge(merged_df_2019, df_combined_ridership_2019, left_on='Matched_Station',right_on = 'Station (alphabetical by borough)', how='left')

In [ ]:
final_df2_2019[['station_name','Matched_Station','Station (alphabetical by borough)','2019']]

,station_name,Matched_Station,Station (alphabetical by borough),2019
0,LEFFERTS BLVD.,OZONE PARK LEFFERTS BLVD,OZONE PARK LEFFERTS BLVD,2216647.0
1,59 ST. COLUMBUS CIRCLE,59 ST COLUMBUS CIRCLE,59 ST COLUMBUS CIRCLE,23040650.0
2,42 ST. TIMES SQUARE,103 ST,103 ST,9303988.0
3,BOWERY,BOWERY,BOWERY,1325244.0
4,BEACH 25 ST,BEACH 25 ST,BEACH 25 ST,517164.0
...,...,...,...,...
11996,JACKSON AV,JACKSON AV,JACKSON AV,1584727.0
11997,59 ST. COLUMBUS CIRCLE,59 ST COLUMBUS CIRCLE,59 ST COLUMBUS CIRCLE,23040650.0
11998,GATES AV,GATES AV,GATES AV,2249791.0
11999,161 ST. YANKEE STADIUM,161 ST YANKEE STADIUM,161 ST YANKEE STADIUM,8254928.0
12000,ATLANTIC AV,ATLANTIC AV,ATLANTIC AV,469819.0

Some of the stations didnt match exactly as I expected So I may delete some of the observations.

In [ ]:
stations_missing = ['51 ST','CORTLANDT ST','42 ST. TIMES SQUARE','7TH AV','AV "J"','UNION SQUARE','AV "H"','WILLETS POINT SHEA STADIUM','96TH ST','42 ST. PORT AUTHORITY BUS TERM','AV "H"','JAY ST BOROUGH HALL','EAST 177 ST. PARKCHESTER','JAY ST BOROUGH HALL','PACIFIC ST','AV "J"','AV "M"','AV "U"','86TH ST','96TH ST','PARK PLACE','AV "N"','EAST 174 ST','AV "X"','SOUNDVIEW AV','9TH ST','DISTRICT 20 OFFICE','BOROUGH HALL','9TH STREET','BEACH 67 ST','62 ST','ESSEX ST','BLEECKER ST']

Okay I have to fix West 4 Street, 42 ST Port Authority Bus Team, 42 Times Square, 7TH AV, East 177ST Parkchester, 42 Times Squares, AV N, JAY ST Borough Street, UNion SQUARE, 62 ST,Pacific ST,ESSEX ST, AV U, AV J, AV H, AV X, 96TH STREET, BLEECKER ST, 8TH ST NYU, Botanic Garden, PARK PLACE, CORTLANDT ST, DISTRICT 4 OFFICE, AV X, SOUNDVIEW AV, 9TH ST,DISTRICT 20 OFFICE,BOROUGH HALL, 9TH STREET, BEACH 67 ST, EAST 174 ST, 62 ST,

In [ ]:
clean_cluster = final_df2[~final_df2['station_name'].isin(stations_missing)]

clean_cluster_2019 = final_df2_2019[~final_df2_2019['station_name'].isin(stations_missing)]

In [ ]:
## Let's perform a quick check, seems good..

clean_cluster[clean_cluster['station_name'].isin(stations_missing)]

Empty DataFrame
Columns: [Unnamed: 0, cmplnt_fr_dt, cmplnt_fr_tm, cmplnt_to_tm, rpt_dt, ofns_desc, crm_atpt_cptd_cd, law_cat_cd, boro_nm, loc_of_occur_desc, prem_typ_desc, juris_desc, jurisdiction_code, x_coord_cd, y_coord_cd, susp_age_group, susp_race, susp_sex, transit_district, latitude, longitude, lat_lon, station_name, day, month, year, complaint_count, Matched_Station, Station (alphabetical by borough), 2022]
Index: []

[0 rows x 30 columns]

In [ ]:
clean_cluster_2019[clean_cluster_2019['station_name'].isin(stations_missing)]

Empty DataFrame
Columns: [Unnamed: 0, cmplnt_fr_dt, cmplnt_fr_tm, cmplnt_to_tm, rpt_dt, ofns_desc, crm_atpt_cptd_cd, law_cat_cd, boro_nm, loc_of_occur_desc, prem_typ_desc, juris_desc, jurisdiction_code, x_coord_cd, y_coord_cd, susp_age_group, susp_race, susp_sex, transit_district, latitude, longitude, lat_lon, station_name, day, month, year, complaint_count, Matched_Station, Station (alphabetical by borough), 2019]
Index: []

[0 rows x 30 columns]

In [ ]:
## Write it to csv just in case

clean_cluster.to_csv('clean_cluster.csv')

clean_cluster_2019.to_csv('clean_cluster_2019.csv')

## Now We save everything to CSV file and work on it in a another Colab Doc